@using BugTracker.Models;
@using Microsoft.AspNet.Identity;

@model IEnumerable<Ticket>

@{
    ViewBag.Title = "Ticket Index";
}

    <div class="row">

        <div class="col-md-12">
            <div class="col-md-5"></div>
            <div class="col-md-1"><h2>Tickets</h2></div>
        </div>
        <div class="body-content">
            <ul class="btn btn-success btn-sm">
                <li><a href="@Url.Action("Create", "Tickets")">New Ticket</a></li>
            </ul>
            <br />
        </div> 
        <div class="row"><p></p></div>
        <table class="table table-hover table-striped table-responsive" id="TicketDataTable">
            <thead>
                <tr>
                    <th>
                        <label>Title</label>
                    </th>
                    <th>
                        <label>Project</label>
                    </th>
                    <th>
                        <label>Created By</label>
                    </th>
                    <th>
                        <label>Create Date</label>
                    </th>
                    <th>
                        <label>Assigned To</label>
                    </th>
                    <th>
                        <label>Type</label>
                    </th>
                    <th>
                        <label>Priority</label>
                    </th>
                    <th>
                        <label>Status</label>
                    </th>
                    <th>
                        <label>Last Updated</label>
                    </th>

                </tr>
            </thead>

            <tbody>                
            </tbody>
        </table>
    </div> 
@section scripts {
<script src="/Scripts/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {

        $('#TicketDataTable').dataTable({
            "serverSide": true,
            "ajax": {
                "url": "/Tickets/AjaxHandler",
                "type": "POST"
            },
            "processing": true,
            "columns": [
                            {
                                "data": "Title"
                            },
                            {
                                "data": "Project"
                            },
                            {
                                "data": "OwnerUser"
                            },
                            {
                                "data": "Created"
                            },
                            {
                                "data": "AssignedToUser"
                            },
                            {
                                "data": "Type"
                            },
                            {
                                "data": "Priority"
                            },
                            {
                                "data": "Status"
                            },
                            {
                                "data": "Updated"
                            }
            ]
        });
    });
</script>
}
