@using BugTracker.Models;
@using Microsoft.AspNet.Identity;

@model IEnumerable<RoleViewModel>
@{
    ViewBag.Title = "ListRoles";
}

<div class="container">

    <div class="col-lg-12">
        <div class="col-lg-6">
            <h2>ROLES</h2>
        </div>
    </div>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Assign", "AssignUserRole", new { rolename = item.RoleName }) |
                    @Html.ActionLink("Unassign", "UnassignUserRole", new { roleid = item.RoleId })
                </td>
            </tr>
        }
    </table>
</div>